html,body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    justify-content: center;
    flex-wrap: wrap;

}

a{
    color: black;
    text-decoration:none;
}

.list-news,.section-news,.lander-editor,.leader-comment,.sub-news,.secondary-news,.latest-news,.pod-news{
    padding: 0% 10%;
}

.header{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding-left: 10%;
    padding-right:10% ;
}

.logo{
    width: 20%;
}
.logoimg{
    width: 100%;
    top: 50%;
    height: 100px;
}

.menu{
    width: 55%;
    line-height: 100px;
    
}

.tool{
    width: 25%;
    background-color: rgb(175, 3, 3);
    height: 100px;
}

/*pod-news*/

.pod-list{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
}

.pod>img{
    height: 200px;
    width: 95%;
    padding: 2%;
}

.pod>a{
    font-size: 20px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-top: 5%;
    padding-left: 2%;
}


.story-list__text3 img{
    width: 100%;
}

.story-list__image1{
    width: 40%;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.story-list__text1{
    width: 60%;
    height: 180px;
    padding-top: 10px;
    float: left;
}

.author-list__image1,.editor-news__image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: right;
}

.editor__header{
    height: 65px;
    width: 100%;
}





.list-news{
    display: flex;
    flex-wrap: wrap;
   
}

/*latest-news*/

.story-list__holder{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

.latest>img{
    height: 90px;
    float: left;
}

.latest>a{
    font-size: 20px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    float: left;
    width: 50%;
    height: 90px;
    margin: 1% 3%;
}

.story-list__holder1{
    display: flex;
    flex-wrap: wrap;
    height: 135px;
}

.list-news__left{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 19%;
    margin-right: 1%;
}

.list-news__main{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 50%;
}

/*select-news*/


.story-list__text2{
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-bottom: 1.5%;
    font-size: 20px;
}

.context-box__header1{
    height: 0px;
}

/*list-news__center*/

.list-news__center__image{
    width: 100%;
    height: 300px;
}

.list-news__center__text{
    position: absolute;
    font-size: 30px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 1%;
    bottom: 0;
    width: 100%;
}

.list-news__center{
    display: flex;
    height: 300px;
    width: 100%;
    position: relative;
}

/*list-news__last*/

.list-news__last{
    display: flex;
    height: 200px;
    width: 100%;
}

.list-news__last__image{
    width: 100%;
    height: 180px;
}

.list-news__last__title{
    font-size: 30px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 1% 5%;
}

.list-news__last__text{
    font-size: 20px;
    font-family: PMingLiU;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding: 1% 5%;
}

.lander-editor{
    background-color: whitesmoke;
    height: 450px;
}

.right{
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    height: 500px;
    padding-left: 2%;
}

.editor-news{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
}

.select-news{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
}
.editor-news__wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
}

.editor-news__text{
    font-size: 20px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.editor-news__name{
    padding-top: 3%;
}

.graphicnewspaper{
    background-color: whitesmoke;
    height: 450px;
}

/*graphic-news*/

.graphic-news{
    float: left;
    flex-wrap: wrap;
    height: 400px;
    width: 70%;
    padding-left: 10%;
}

.graphic-news__image{
    height: 330px;
    width: 45%;
    float: left;
}

.graphic-news__text{
    float: left;
    height: 330px;
    width: 55%;
}

.gntitle{
    font-size: 30px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 1% 5%;
}

.gntext{
    font-size: 20px;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin: 1% 5%;
}

/*section-news*/

.section-news{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
}

.section-news__image1{
    height: 300px;
    width: 55%;
    float: left;
}

.section-news__image2{
    height: 200px;
    width: 100%;
}

.sn1,.sn2{
    width: 100%;
}

.section-news__left{
    float: left;
    width: 75%;
}

.section-news__right{
    float: left;
    width: 25%;
}

.in1,.fn1{
    float: left;
    padding:0% 3% ;
    width: 35%;
}

.inbt,.fnbt{
    font-size: 20px;
    text-align: center; 
    border: 1px solid;
    border-radius: 10%;
    width: 90px;
    line-height: 45px;
    color: rgb(175, 3, 3);
}

.intitle1,.fntitle1{
    font-size: 30px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 5% 0%;
}

.intitle2,.fntitle2{
    font-size: 20px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 5% 0%;
}

.intext1,.fntext1{
    font-size: 20px;
    font-family: PMingLiU;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

/*newspaper-news*/

.newspaper-news{
    float: right;
    flex-wrap: wrap;
    height: 400px;
    width: 20%;
    padding-right: 10%;  
}

.newspaper-news__image{
    height: 300px;
    width: 100%;
    float: right;
}

/*lander-editor*/

.lander-editor__title{
    padding-top: 20px;
}

.le1,.le2{
    width: 50%;
    float: left;
    height:400px;
}

.leimage{
    width: 90%;
    height: 150px;
    border-radius: 100%;
}

.lename{
    height: 50px;
    font-size: 20px;
}

.lander-news__image{
    height: 150px;
    width: 35%;
    float: left;
}

.lander-editor__left{
    width: 30%;
    float: left;
    height:400px;
}

.lander-editor__right{
    width: 70%;
    float: left;
    height:400px;
}

.story-list__text5{
    height: 200px;
    width: 55%;
    float: left;
    padding: 3%;
}

.lebt{
    font-size: 20px;
    text-align: center; 
    border: 1px solid;
    border-radius: 10%;
    width: 90px;
    line-height: 45px;
    color: rgb(175, 3, 3);
}

.letitle{
    padding-top: 5%;
    font-size: 20px;
    font-family: PMingLiU;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*leader-comment*/

.author-list{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
}

.author>div{
    padding: 2%;
    float: left;
}

.author>img{
    width: 40%;
    height: 125px;
    border-radius: 100%;
    float: left;
}

.author>a{
    float: left;
    width: 50%;
    margin:5% 0% 2% 2%;
    font-size: 20px;
    font-family: PMingLiU;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*sub-news*/

.sub-news{
    height: 500px;
    background-color: rgb(175, 3, 3);
}

.sub-news_title{
    height: 40px;
    padding-top: 20px;
    color: white;
}

.sub-news_wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 375px;
}

.sub-news_description{
    width: 60%;
    height: 375px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    padding: 10% 5%;
    background-color: white;
}

.sub-news_image{
    width: 40%;
    height: 375px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    margin-top: -3%;
}

.sub__text{
    font-size: 20px;
    font-family: PMingLiU;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-bottom: 5%;
}

.sub__title{
    font-size: 30px;
    font-family: PMingLiU;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.sub__image{
    width:100%;
    height: 375px;
}

.story-list__news4{
    height: 300px;
}



/*secondary-news*/

.secondary-news{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
}

.technology-content,.life-content{
    height: 350px;
    width: 100%;
}

.technology_title, .life_title{
    border-top-style:solid;
    border-top-width: 5px;
    
    font-size: 24px;
}

.technology_title{
    border-top-color: blue;
}

.life_title{
    border-top-color: rgb(175, 3, 3);
}

.tctitle,.lctitle{
    font-size: 20px;
    font-family: PMingLiU;
    font-weight:bold;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.tc,.lc{
    width: 100%;
    height: 300px;
}

.context-box__header6{
    width: 10%;
    float: left;
}

.story-list__news6{
    width: 45%;
    height: 400px;
    float: left;
    padding-left: 2%;
    padding-top: 2%;
}

.latest-news{
    background-color: whitesmoke;
}

.container{
    width: 100%;
}

.author,.pod,.story-list__news,.story-list__news1,.editor-news,.select-news,.latest,.header,.logo,.menu,.tool,.graphic-news,.newspaper-news,.section-news,.story-list__news4,.lander-editor,.le1,.le2,.secondary-news,.story-list__news6{
    /*border: 1px solid grey;*/
    box-sizing: border-box;
}

.footer{
    background-color: grey;
    height: 200px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
.footer>a>img{
    width: 30px;
}


@media screen and (min-width: 1280px) {
    
    .bigcontainer{
        width: 1280px;
    }
    .author,.pod{
        width: 25%;
    }
    .latest{
        width:50%;
    }
    .story-list__news1{
        width: 100%;
    }
    .logo{
        width: 20%;
    }
    
    .menu{
        width: 50%;
    }
    
    .tool{
        width: 30%;
    }
    .newspaper-news1{
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279.9px) {
    .bigcontainer{
        width: 992px;
    }
    .list-news__left{
        display: none;
    }
    .author,.pod{
        width: 25%;
    }
    .latest{
        width:50%;
    }
    .list-news__main{
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        width: 75%;
    }
    .right{
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        width: 23%;
        padding-left: 2%;
    }
    .list-news__center__image {
        width: 100%;
        height: 300px;
    }
    .section-news__image1 {
        height: 300px;
        width: 45%;
        float: left;
    }
    .technology_title, .life_title {
        border-top-style: solid;
        border-top-width: 5px;
        font-size: 20px;
    }
    .latest1{
        width:100%;
    }
    .graphic-news{
        float: left;
        flex-wrap: wrap;
        height: 400px;
        width: 75%;
    }
    
    .newspaper-news{
        float: left;
        flex-wrap: wrap;
        height: 400px;
        width: 25%;
    }
    .newspaper-news1{
        display: none;
    }
    .story-list__news1{
        width:100%;
    }

}

@media screen and (min-width: 768px) and (max-width:1023.9px) {
    .bigcontainer{
        width: 736px;
    }
    .list-news__left,.list-news__last,.section-news{
        display: none;
    }
    .author,.pod{
        width: 50%;
    }
    .latest{
        width:50%;
    }
    .list-news{
        float: left;
        height: 650px;
    }
    .context-box__title1{
        display: none;
    }
    .list-news__main{
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        width: 100%;
    }
    .right{
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        width: 70%;
        float: left;
        padding: 0;
    }
    .story-list__news1{
        width:100%;
    }
    .story-list__news2{
        width: 50%;
        float: left;
    } 
    .select-news{
        height: 100px;
        padding-right: 2%;
    }
    .graphic-news{
        flex-wrap: wrap;
        height: 400px;
        width: 100%;
        padding-right: 10%;
    }
    .newspaper-news{
        display: none;
    }
    .newspaper-news1{
        padding-left: 5%;
        flex-wrap: wrap;
        height: 300px;
        width: 25%;
        float: left;
    }
    .newspaper-news__image {
        height: 250px;
        width: 100%;
        float: right;
    }
    .context-box__header6{
        width: 100%;
        height: 100px;
    }
    .story-list__news6{
        width: 50%;
        height: 300px;
        float: left;
    }
    .author-list{
        height: 300px;
    }
    .technology-content, .life-content {
        height: 500px;
    }
    .context-box__header6 {
        width: 100%;
        height: 75px;
    }
    .secondary-news{
        height: 1000px;
    }
    .pod-list{
        height: 600px;
    }
    .graphicnewspaper {
       background-color: white;
       height: 0;
    }
    .lander-editor{
        background-color: white;
        height: auto;
    }
}
@media screen and (max-width:767.9px) {
    .list-news__left,.list-news__last,.section-news{
        display: none;
    }
    .author,.latest,.pod,.story-list__news1{
        width: 100%;
    }
    .list-news__main{
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        width: 100%;
    }
    .right {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        width: 70%;
        padding: 0;
        float: left;
    }
    .editor-news {
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        width: 100%;
    }
    .editor-news__text {
        font-size: 20px;
        font-family: PMingLiU;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        width: 70%;
        float: left;
    }
    .context-box__title1{
        display: none;
    }
    .story-list__text2 {
        font-family: PMingLiU;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        margin-bottom: 1.5%;
        font-size: 20px;
        width: 130%;
    }

    .graphic-news{
        flex-wrap: wrap;
        height: 450px;
        width: 100%;
        padding-right: 10%;
    }
    .context-box__title2{
        display: none;
    }
    .graphic-news__image {
        height: 300px;
        width: 100%;
        float: left;
    }
    .graphic-news__text {
        float: left;
        height: 100px;
        width: 100%;
    }
    .gntitle{
        -webkit-line-clamp: 1;
        margin: 1% 0;
    }
    .gntext{
        -webkit-line-clamp: 2;
        margin: 1% 0;
    }
    .lander-editor__left {
        width: 100%;
        float: left;
        height: 150px;
    }
    .le2{
        display: none;
    }
    .le1 {
        width: 100%;
        float: left;
        height: 400px;
    }
    .leimage {
        width: 20%;
        height: 100px;
        border-radius: 100%;
        float: left;
    }
    .lename{
        width: 70%;
        float: left;
        margin: 1% 5%;
    }
    .lander-editor__right {
        width: 100%;
        float: left;
        height: 250px;
    }
    .lander-news__image {
        height: 100px;
        width: 25%;
        float: right;
    }
    .story-list__text5 {
        height: 100px;
        width: 70%;
        float: right;
        padding: 2%;
    }
    .lebt {
        font-size: 15px;
        text-align: center;
        border: 1px solid;
        border-radius: 10%;
        width: 90px;
        line-height: 30px;
    }
    .letitle{
        -webkit-line-clamp: 1;
    }
    .lenews{
        float: left;
        margin: 1% 5%;
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .tctitle,.lctitle{
        position: absolute;
        bottom: 0;
    }
    .tc, .lc {
        width: 100%;
        height: 310px;
    }
    .author-list {
        height: 600px;
        width: 100%;
    }
    .author>img {
        width: 20%;
        height: 100px;
        border-radius: 100%;
        float: right;
    }
    .author>div {
        padding: 0%; 
        float: left;
        width: 80%;
    }
    .author>a {
        float: left;
        width: 80%;
        margin: 0;
        margin-top: 2%;
        font-size: 20px;
        font-family: PMingLiU;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .logo{
        width: 75%;
    }
    .tool{
        width:25%;
    }
    .menu{
        width: 100%;
    }
    .context-box__header1 {
        height: 0px;
        display: none;
    }
    .newspaper-news{
        display: none;
    }
    .newspaper-news1{
        flex-wrap: wrap;
        height: 300px;
        width: 25%;
        float: left;
        padding-left: 5%;
    }
    .newspaper-news__image {
        height: 200px;
        width: 100%;
        float: right;
    }
    .context-box__header6{
        width: 100%;
        height: 50px;
    }
    .story-list__news6{
        width: 100%;
        height: 325px;
        float: left;
        padding-left: 0%;
        padding-top: 3%;
        position: relative;
    }

    .sub-news_wrapper{
        flex-direction: column-reverse;
    }
    .sub-news_description {
        width: 100%;
        height: 375px;
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        padding: 5% 0%;
        background-color: rgb(175, 3, 3);
    }
    .sub__title{
        font-size: 20px;
    }
    .sub__image {
        width: 100%;
        height: 300px;
    }
    .sub-news_image{
        width: 100%;
        height: 300px;
        box-sizing: border-box;
    }
    .sub__text{
        display: none;
    }
    .secondary-news {
        display: flex;
        flex-wrap: wrap;
        height: 1400px;
        width: 100%;
    }
    .technology-content, .life-content {
        height: 650px;
        width: 100%;
    }
    .tctext,.lctext{
        display: none;
    }
    .tctitle,.lctitle{
        -webkit-line-clamp: 1;
    }
    .story-list__holder {
        display: flex;
        flex-wrap: wrap;
        height: 1000px;
    }
    .latest>img {
        height: 90px;
        float: right;
    }
    .latest>a {
        font-size: 20px;
        font-family: PMingLiU;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        float: left;
        width: 70%;
        height: 90px;
        margin: 1% 0%;
    }
    .pod-list {
        display: flex;
        flex-wrap: wrap;
        height: 1100px;
        width: 100%;
    }
    .pod>img {
        height: 200px;
        width: 100%;
        padding: 0%;
    }
    .pod>a{
        padding-top: 2%;
        padding-left: 0%;
    }
    .graphicnewspaper {
        background-color: white;

     }
}

.context-box__header6:before {
    background-color: blue;
    content: "";
    height: 6px;
    width: 138px;
    position: absolute;
    z-index: -1;
  }
.technology_title{
    padding-left: 0;
  padding-top: 18px;
}